html,
body {
  margin: 0;
  padding: 0;
  background-color: #282828;
}
canvas {
  display: block;
}
#coordinates {
  padding: 0.5em;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 4em;
}
