html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
canvas {
  display: block;
}
#coordinates {
  padding: 0.2em;
  background-color: #000;
  color: #9ababc;
  text-align: center;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 4em;
}

#coordinates button {
  color: #000000;
  background-color: #9ababc;
  padding: 0.2em 0.4em;
  text-align: center;
  font-size: 1em;
}
